.res-card{
    width: 20rem;
    height: 20rem;
  margin: 10px  5px;
  border: 1px solid transparent;
  border-radius: 5px;
  overflow: hidden;
}
.res-card:hover{
    border: 1px solid rgb(229, 227, 227);
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 330ms ease-in-out;
    
}
.res-card-img{
    width: 20rem;
    height: 12rem;
    border-radius: 5px ;
}
.rating{
    display: flex;
    gap: 8 px;
}
.cuisines{
    overflow: hidden;
}
.num-rating{
    padding-left: 5px ;
}